@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Curly';
  src: local('Curly'), url(./fonts/Curly-PKK1m.ttf) format('truetype');
}